[reebill]
mock_skyliner = false
sessions_key = fjsa83b21gaaks8
socket_port = 8185
socket_host = 127.0.0.1
oltp_url = http://duino-drop.appspot.com/
olap_host = olap-stage-db
olap_database = olap_stage
nexus_web_host = nexus-stage.skylineinnovations.net
nexus_db_host = nexus-stage-db
nexus_offline_cache_file =
reebill_file_path = /db-dev/skyline/bills/
teva_accounts = 10046 10047 10048
authenticate = true
reconciliation_report_path = /var/local/reebill-dev/reconciliation.json

[amqp]
url = amqp://guest:guest@localhost/dev
exchange = reebill
utilbill_routing_key = process_utility_bill
utilbill_guids_routing_key = process_utility_bill_guids

[brokerage]
# TODO: path to Dropbox directory where quote files should go
quote_directory = /tmp

[billentry]
google_client_id = 707844736585-t439t8iciqpr7pipp670cegfo4ahg44e.apps.googleusercontent.com
google_client_secret = 0t6nW6Si2uy5VJYckTKqPB0O
google_user_info_url = https://www.googleapis.com/oauth2/v1/userinfo
redirect_uri = oauth2callback
base_url = https://www.google.com/accounts/
authorize_url = https://accounts.google.com/o/oauth2/auth
request_token_url =
request_token_params_scope = https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/userinfo.profile
request_token_params_resp_type = code
access_token_url = https://accounts.google.com/o/oauth2/token
access_token_method = POST
access_token_params_grant_type = authorization_code
disable_authentication = false
show_traceback_on_error = true
authorized_domain = nextility.com
secret_key = D5ATu7x3PCesKyajfxckQq2F
wiki_url = http://billingwiki-prod.nextility.net/utility:
timeout = 900

[aws_s3]
#bucket=7dd9bb262c
#aws_access_key_id=AKIAIEXV4H42EHX44UMQ
#aws_secret_access_key=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
#host=s3.amazonaws.com
#port=443
#is_secure=false
#calling_format=OrdinaryCallingFormat
#num_retries = 1
#max_retry_delay =
#http_socket_timeout = 5
# copied from settings-stage-template.cfg
bucket=de5cd1b859
aws_access_key_id=AKIAJH4OHWNBRJVKFIWQ
aws_secret_access_key=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
host=s3.amazonaws.com
port=443
is_secure=true
calling_format=DefaultCallingFormat
num_retries = 1
max_retry_delay =
http_socket_timeout = 5

[db]
uri = postgresql://billing_dev:billing_dev@postgres-dev.nextility.net/billing_dev
# connection fails on EC2
#altitude_uri = mssql+pymssql://sa:Altitude3@64.235.52.68:1433/altitude_development?charset=utf8
altitude_uri = postgresql://billing_dev:billing_dev@postgres-dev.nextility.net/billing_dev
echo = false

[mailer]
originator = energy_billing@nextility.com
mail_from = "Nextility Billing (Dev)" <energy_billing@nextility.com>
bcc_list =
smtp_port = 587
smtp_host = smtp.gmail.com
password = PeRz0wOYEGYyYK7eQ4AGsQete

[mongodb]
database = skyline_dev 
host = mongo-dev.nextility.net
port = 27017

[reebillestimatedrevenue]
log_directory = /var/local/reebill-dev
report_directory = /var/local/reebill-dev

[loggers]
keys=root,reebill,sqlalchemy,amqp_utilbill_file,billentry,amqp_utilbill_guids_file,read_quotes

[handlers]
keys=consoleHandler,fileHandler,reebillHandler,amqp_utilbill_file_handler,billentry_file_handler,amqp_utilbill_guids_file_handler,read_quotes_handler

[formatters]
keys=simpleFormatter

[logger_root]
level=DEBUG
handlers=consoleHandler,fileHandler

[logger_billentry]
level=DEBUG
handlers=consoleHandler,billentry_file_handler
qualname=billentry
propagate=0

[logger_sqlalchemy]
level=ERROR
handlers=consoleHandler
qualname=sqlalchemy

[logger_reebill]
level=DEBUG
handlers=consoleHandler,fileHandler
qualname=billing
propagate=0

[logger_amqp_utilbill_file]
level=DEBUG
handlers=amqp_utilbill_file_handler
qualname=amqp_utilbill_file

[logger_amqp_utilbill_guids_file]
level=DEBUG
handlers=amqp_utilbill_guids_file_handler
qualname=amqp_utilbill_guids_file

[logger_read_quotes]
level=DEBUG
handlers=read_quotes_handler
qualname=read_quotes

[handler_consoleHandler]
class=StreamHandler
level=DEBUG
formatter=simpleFormatter
args=(sys.stdout,)

[handler_reebillHandler]
class=handlers.RotatingFileHandler
level=DEBUG
formatter=simpleFormatter
args=('/home/reebill-dev/logs/reebill.log','a',100000000,20)

[handler_fileHandler]
class=handlers.RotatingFileHandler
level=DEBUG
formatter=simpleFormatter
args=('/home/reebill-dev/logs/billing.log','a',100000000,20)

[handler_amqp_utilbill_file_handler]
class=handlers.RotatingFileHandler
level=DEBUG
formatter=simpleFormatter
args=('/home/reebill-dev/logs/amqp_utilbill_file.log','a',100000000,20)

[handler_amqp_utilbill_guids_file_handler]
class=handlers.RotatingFileHandler
level=DEBUG
formatter=simpleFormatter
args=('/home/reebill-dev/logs/amqp_utilbill_guids_file.log','a',100000000,20)

[handler_billentry_file_handler]
class=handlers.RotatingFileHandler
level=DEBUG
formatter=simpleFormatter
args=('/home/reebill-dev/logs/billentry.log','a',100000000,20)

[handler_read_quotes_handler]
class=handlers.RotatingFileHandler
level=DEBUG
formatter=simpleFormatter
args=('/home/reebill-dev/logs/read_quotes.log','a',100000000,20)

[formatter_simpleFormatter]
format=%(asctime)s - %(name)s - %(levelname)s - %(message)s
