[reebill]
mock_skyliner = false
sessions_key = fjsa83b21gaaks8
socket_port = 8185
socket_host = 127.0.0.1
oltp_url = http://duino-drop.appspot.com/
olap_host = 10.0.1.25
olap_database = olap_prod
# public DNS name of nexus host is required due to nexus virtual hosting
nexus_web_host = nexus.skylineinnovations.net
# private DNS name of nexus host
#nexus_web_host = domU-12-31-39-0E-81-12.compute-1.internal
nexus_db_host = localhost
nexus_offline_cache_file =
reebill_file_path = /db-prod/skyline/bills/
teva_accounts = 10046 10047 10048
authenticate = true
utilitybillpath = /db-prod/skyline/utilitybills

[amqp]
exchange = reebill

[aws_s3]
bucket=reebill-prod
aws_access_key_id=???
aws_secret_access_key=???
host=s3.amazonaws.com
port=443
is_secure=true
calling_format=DefaultCallingFormat
num_retries = 0
max_retry_delay =
http_socket_timeout = 5

[db]
uri = mysql://reebill-prod:NWH7H4wY@localhost:3306/skyline_prod
echo = false

[mailer]
originator = energy_billing@nextility.com
mail_from = "Nextility Billing" <energy_billing@nextility.com>
bcc_list = 
smtp_port = 587
smtp_host = smtp.gmail.com
password = PeRz0wOYEGYyYK7eQ4AGsQete
template_file_name = issue_email_template.html

[mongodb]
database = skyline-prod
host = localhost
port = 27017

[reebillreconciliation]
log_directory = /var/local/reebill-prod/
report_directory = /var/local/reebill-prod/

[reebillestimatedrevenue]
log_directory = /var/local/reebill-prod/
report_directory = /var/local/reebill-prod/



[loggers]
keys=root,reebill,sqlalchemy

[handlers]
keys=consoleHandler,fileHandler,reebillHandler

[formatters]
keys=simpleFormatter

[logger_root]
level=DEBUG
handlers=consoleHandler,fileHandler

[logger_sqlalchemy]
level=ERROR
handlers=consoleHandler
qualname=sqlalchemy

[logger_reebill]
level=DEBUG
handlers=consoleHandler,fileHandler
qualname=billing
propagate=0

[handler_consoleHandler]
class=StreamHandler
level=DEBUG
formatter=simpleFormatter
args=(sys.stdout,)

[handler_reebillHandler]
class=handlers.RotatingFileHandler
level=DEBUG
formatter=simpleFormatter
args=('reebill.log','a',100000000,20)

[handler_fileHandler]
class=handlers.RotatingFileHandler
level=DEBUG
formatter=simpleFormatter
args=('billing.log','a',100000000,20)

[formatter_simpleFormatter]
format=%(asctime)s - %(name)s - %(levelname)s - %(message)s
