# this is an example of a dev version of the ReeBill config file. copy
# it to reebill.cfg, which is the file actually read by bill_tool_bridge.

[runtime]
integrate_skyline_backend = true
integrate_nexus = true
mock_skyliner = true

[skyline_backend]
oltp_url = http://duino-drop.appspot.com/
olap_host = tyrell-dev
olap_database = dev
nexus_host = tyrell-dev 

[http]
socket_port = 8181
socket_host = 127.0.0.1

[log]
log_format = %(asctime)s %(levelname)s %(message)s
log_file_name = reebill.log

[usersdb]
host = localhost
port = 27017
database = skyline
user = dev
password = dev

[statedb]
host = localhost
password = reebill-dev
database = skyline_dev
user = reebill-dev

[mailer]
originator = jwatson@skylineinnovations.com
from = "Jules Watson" <jwatson@skylineinnovations.com>
bcc_list = 
smtp_port = 587
smtp_host = smtp.gmail.com
password = gkjtiNnpv85HhWjKue8w

[billimages]
bill_image_directory = /tmp/billimages

[reebillrendering]
temp_directory = /tmp/reebill_rendering_files
show_reebill_images = true

[rsdb]
database = skyline
host = localhost
rspath = /db-dev/skyline/ratestructure/
port = 27017

[billdb]
billpath = /db-dev/skyline/bills/
database = skyline
utilitybillpath = /db-dev/skyline/utilitybills/
utility_bill_trash_directory = /db-dev/skyline/utilitybills-deleted
host = localhost
port = 27017

[journaldb]
host = localhost
database = skyline
port = 27017

[authentication]
authenticate = false
