[runtime]
integrate_skyline_backend = true
integrate_nexus = true
mock_skyliner = false
sessions_key = kljhasdlasldaslkdjasd

[skyline_backend]
oltp_url = http://duino-drop.appspot.com/
olap_host = localhost
olap_database = stage
nexus_host = nexus.skylineinnovations.net

[http]
socket_port = 8181
socket_host = 127.0.0.1

[log]
log_format = %(asctime)s %(levelname)s %(message)s
log_file_name = reebill-stage.log

[usersdb]
host = localhost
port = 27017
database = skyline-stage

[statedb]
host = localhost
password = [set staging password]
database = skyline_stage
user = stage

[mailer]
originator = jwatson@skylineinnovations.com
from = "Jules Watson (Stage)" <jwatson@skylineinnovations.com>
bcc_list = 
smtp_port = 587
smtp_host = smtp.gmail.com
password = gkjtiNnpv85HhWjKue8w

[rsdb]
database = skyline-stage
host = localhost
rspath = /db-stage/skyline/ratestructure/
port = 27017

[billdb]
billpath = /db-stage/skyline/bills/
database = skyline-stage
utilitybillpath = /db-stage/skyline/utilitybills/
utility_bill_trash_directory = /db-stage/skyline/utilitybills-deleted
host = localhost
port = 27017

[billimages]
bill_image_directory = /tmp/billimages-stage
show_reebill_images = true

[reebillrendering]
temp_directory = /tmp/reebill_rendering_files
template_directory = /var/local/reebill-stage/lib/python2.7/site-packages/billing/reebill_templates
default_template = skyline
# TODO 37383531 Hardcoded partner name, awaiting partner grouping
teva_accounts =

[journaldb]
host = localhost
database = skyline-stage
port = 27017

[authentication]
authenticate = true
