{% load staticfiles %}
{% load widget_tweaks %}
{% load compress %}

{% compress js %}
    <script type="text/javascript" src="{% static 'js/jquery.validate.min.js' %}"></script>
{% endcompress %}
{% compress js inline %}
    <script type="text/javascript">
        $(document).ready(function(){
            $(".controls input").popover({
                        placement: "left",
                        trigger: "manual",
                        content: "",
            });
            $('#changePasswordForm').validate({ // initialize the plugin
                rules: {
                    oldpassword: {
                        required: true,
                        minlength: 8,
                    },
                    password1: {
                        required: true,
                        minlength: 8,
                    },
                    password2: {
                        required: true,
                        equalTo: "#{{form.password1.id_for_label}}"
                    },
                },
                errorPlacement: function(label, element) {
                    var po = $(element).data('popover');
                    $(element).attr("data-content",$(label).text())
                    $(element).popover('setContent');
                    $(element).popover('show');
                    return true;
                },
                success: function(label, element){
                    $(element).popover('hide');
                },
            });
        });
    </script>
{% endcompress %}
<form id="changePasswordForm" method="post" action="" class="form-horizontal">
    <p>Your password needs to contain at least 8 characters.</p>
    <div class="no-marker-no-indent text-error">
        {{ form.non_field_errors }}
    </div>
    {% csrf_token %}
    <div class="control-group {% if form.oldpassword.errors %} error {% endif %}">
        <label class="control-label" for="{{form.oldpassword.id_for_label}}">{{form.oldpassword.label}}:</label>
        <div class="controls">     
            {% with placeholder="placeholder:"|add:form.oldpassword.label %}
                {{ form.oldpassword|add_class:"input-block-level"|attr:placeholder }}
            {% endwith %}
            <div class="no-marker-no-indent text-error">
                {{ form.oldpassword.errors }}
            </div>
        </div>
    </div>
    <div class="control-group {% if form.password1.errors %} error {% endif %}">
        <label class="control-label" for="{{form.password1.id_for_label}}">{{form.password1.label}}:</label>
        <div class="controls">     
            {% with placeholder="placeholder:"|add:form.password1.label %}
                {{ form.password1|add_class:"input-block-level"|attr:placeholder }}
            {% endwith %}
            <div class="no-marker-no-indent text-error">
                {{ form.password1.errors }}
            </div>
        </div>
    </div>
    <div class="control-group {% if form.password2.errors %} error {% endif %}">
        <label class="control-label" for="{{form.password2.id_for_label}}">{{form.password2.label}}:</label>
        <div class="controls">     
            {% with placeholder="placeholder:"|add:form.password2.label %}
                {{ form.password2|add_class:"input-block-level"|attr:placeholder }}
            {% endwith %}
            <div class="no-marker-no-indent text-error">
                {{ form.password2.errors }}
            </div>
        </div>
    </div>
    <button class="btn btn-large btn-success pull-right" type="submit" id="continueBtn">Save</button>
    <a href="{% url 'intro:profile' %}" class="btn btn-large pull-right dashboard-js-link-profile hspace20">Back</a>
</form>
