{% load widget_tweaks %}
{% load staticfiles %}
{% load compress %}

<script src="{% static 'js/jquery.formset.min.js' %}"></script>
<script type="text/javascript">
    $(function() {
        $('.form-in-formset').formset({
            addCssClass:'btn btn-large pull-left',
            addText:'Add another Account',
            deleteText: 'X'
        });
    })
</script>

<form id="linkAccountForm" method="post" action="" class="form-horizontal">
    {% csrf_token %}
    {{ formset.management_form }}
    {% for form in formset.forms %}
            <div class="form-in-formset">
            <div class="no-marker-no-indent text-error">
                {{ form.non_field_errors }}
            </div>
            <div class="control-group">
                <label class="control-label" for="{{form.utility_provider.id_for_label}}">{{form.utility_provider.label}}</label>
                <div class="controls">
                    {{form.utility_provider}}
                    <div class="no-marker-no-indent text-error">
                        {{ form.utility_provider.errors }}
                    </div>
                </div>
            </div>
            <div class="clear vspace20 registrationrule registrationrule1 registrationrule2 registrationrule3">
                <strong class="inline">Your Account Information:</strong>
            </div>
            <div class="control-group registrationrule registrationrule1 registrationrule2 registrationrule3">
                <label class="control-label" for="{{form.utility_account_number.id_for_label}}">{{form.utility_account_number.label}}</label>
                <div class="controls">
                    {% with placeholder="placeholder:"|add:form.utility_account_number.label %}
                        {{ form.utility_account_number|add_class:"input-block-level"|attr:placeholder }}
                    {% endwith %}
                    <div class="no-marker-no-indent text-error">
                        {{ form.utility_account_number.errors }}
                    </div>
                </div>
            </div>
            <div id="linkAccountForm_address" class="registrationrule registrationrule1 registrationrule2 registrationrule3">
                <div class="control-group">
                    <label class="control-label" for="{{form.street1.id_for_label}}">{{form.street1.label}}</label>
                    <div class="controls">
                        {% with placeholder="placeholder:"|add:form.street1.label %}
                            {{ form.street1|add_class:"input-block-level"|attr:placeholder }}
                        {% endwith %}
                        <div class="no-marker-no-indent text-error">
                            {{ form.street1.errors }}
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="{{form.street2.id_for_label}}">{{form.street2.label}}</label>
                    <div class="controls">
                        {% with placeholder="placeholder:"|add:form.street2.label %}
                            {{ form.street2|add_class:"input-block-level"|attr:placeholder }}
                        {% endwith %}
                        <div class="no-marker-no-indent text-error">
                            {{ form.street2.errors }}
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="{{form.city.id_for_label}}">{{form.city.label}}</label>
                    <div class="controls">
                        {% with placeholder="placeholder:"|add:form.city.label %}
                            {{ form.city|add_class:"input-block-level"|attr:placeholder }}
                        {% endwith %}
                        <div class="no-marker-no-indent text-error">
                            {{ form.city.errors }}
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="{{form.state.id_for_label}}">{{form.state.label}}</label>
                    <div class="controls">
                        {{ form.state }}
                        <div class="no-marker-no-indent text-error">
                            {{ form.state.errors }}
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="{{form.zip.id_for_label}}">{{form.zip.label}}</label>
                    <div class="controls">
                        {% with placeholder="placeholder:"|add:form.zip.label %}
                            {{ form.zip|add_class:"input-block-level"|attr:placeholder }}
                        {% endwith %}
                        <div class="no-marker-no-indent text-error">
                            {{ form.zip.errors }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {% if action == "edit" %}
            <input type="hidden" name="linkAccountForm_accountid" id="linkAccountForm_accountid" value="{{linkAccountForm_accountid}}" />
            <input type="hidden" name="action" id="action" value="linkedAccount_edit" />
            <button class="btn btn-large btn-success pull-right" type="submit" id="continueBtn">Save</button>
{% comment %}
            <a href="{% url linkAccountForm_senderUrl %}" class="btn btn-large pull-right hspace20" id="backbtn">Back</a>
{% endcomment %}
    {% else %}
        <input type="hidden" name="action" id="action" value="linkedAccount_add" />
        <button class="btn btn-large btn-success pull-right" type="submit" id="continueBtn">
            Link {% if formset.forms|length > 1 %}Accounts{% else %}Account{% endif %}
        </button>
    {% endif %}
</form>