{% load staticfiles %}
{% load widget_tweaks %}
{% load compress %}

{% compress js %}
    <script type="text/javascript" src="{% static 'js/jquery.validate.min.js' %}"></script>
{% endcompress %}
{% compress js inline %}
    <script type="text/javascript">
        $(document).ready(function(){
            $(".controls input").popover({
                        placement: "left",
                        trigger: "manual",
                        content: "",
            });
            $('#forgotPasswordForm').validate({ // initialize the plugin
                rules: {
                    email1: {
                        required: true,
                        email:true,
                    },
                    email2: {
                        required: true,
                        equalTo: "#{{form.email1.id_for_label}}"
                    },
                },
                errorPlacement: function(label, element) {
                    var po = $(element).data('popover');
                    $(element).attr("data-content",$(label).text())
                    $(element).popover('setContent');
                    $(element).popover('show');
                    return true;
                },
                success: function(label, element){
                    $(element).popover('hide');
                },
            });
        });
    </script>
{% endcompress %}
<form id="forgotPasswordForm" method="post" action="" class="form-horizontal">
    <div class="no-marker-no-indent text-error">
        {{ form.non_field_errors }}
    </div>
    {% csrf_token %}
    {% for field in form %}
        <div class="control-group {% if field.errors %} error {% endif %}">
            <label class="control-label" for="{{field.id_for_label}}">{{field.label}}:</label>
            <div class="controls">     
                {% with placeholder="placeholder:"|add:field.label %}
                    {{ field|add_class:"input-block-level"|attr:placeholder }}
                {% endwith %}
                <div class="no-marker-no-indent text-error">
                    {{ field.errors }}
                </div>
            </div>
        </div>
    {% endfor %}
{#    <p>Are you a human?</p>#}
{#    <script type="text/javascript" src="http://www.google.com/recaptcha/api/challenge?k=your_public_key"></script>#}
{#    <noscript>#}
{#        <iframe src="http://www.google.com/recaptcha/api/noscript?k=your_public_key" height="300" width="500" frameborder="0"></iframe> <br/>#}
{#        <textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>#}
{#        <input type="hidden" name="recaptcha_response_field" value="manual_challenge">#}
{#    </noscript>#}
    <div class="clear"></div>
    <button class="btn btn-large btn-success pull-right" type="submit" id="continueBtn">Submit</button>
{% comment %}
    <a href="{% url forgotPasswordForm_senderUrl %}" class="btn btn-large pull-right dashboard-js-link-profile hspace20">Back</a>
{% endcomment %}
</form>
