body { margin:50px; }
table { border-collapse: collapse;}
thead { font-weight:bold;}

#results tbody tr.selected { background-color:#CCC; }
#results tbody tr:hover { border: 1px solid #000; }
tr.failed { background-color:#FAA; }
tr.zero { color:#999999; }
td.field { font-style: italic; }
td { padding-right:20px; }

#console { 
	position:fixed; 
	bottom:0px; 
	padding:5px; 
	background:#FFFFFF;

	font-size:0.8em;
	font-family:monospace;
}