.silk-exclamation { background-image: url(../icons/exclamation.png) !important; background-repeat: no-repeat; }
.silk-eye { background-image: url(../icons/eye.png) !important; background-repeat: no-repeat; }
.silk-photo { background-image: url(../icons/photo.png) !important; background-repeat: no-repeat; }
.silk-page-white-code-red { background-image: url(../icons/page_white_code_red.png) !important; background-repeat: no-repeat; }
.silk-shape-square-add { background-image: url(../icons/shape_square_add.png) !important; background-repeat: no-repeat; }
.silk-shape-square-delete { background-image: url(../icons/shape_square_delete.png) !important; background-repeat: no-repeat; }
.silk-shape-square-edit { background-image: url(../icons/shape_square_edit.png) !important; background-repeat: no-repeat; }
.silk-tag-blue-add { background-image: url(../icons/tag_blue_add.png) !important; background-repeat: no-repeat; }
.silk-tag-blue-delete { background-image: url(../icons/tag_blue_delete.png) !important; background-repeat: no-repeat; }
.silk-tag-blue-edit { background-image: url(../icons/tag_blue_edit.png) !important; background-repeat: no-repeat; }
.silk-zoom-in { background-image: url(../icons/zoom_in.png) !important; background-repeat: no-repeat; }
.silk-zoom-out { background-image: url(../icons/zoom_out.png) !important; background-repeat: no-repeat; }
