<html>
<head>
	<title>Extractor Testing UI</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='extractor-ui/style.css') }}">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='extractor-ui/extractor-ui.js') }}"> </script>
</head>

<body>
	<h1>Test Extractors</h1>
	<h3>Current Extractors in Database:</h3>
	<form>

	<div id="extractorpane">
		<table id="extractors">
			<thead>
				<tr>
					<td class="check"></td>
					<td class="id">ID</td>
					<td>Name</td>
					<td>Filter</td>
				</tr>
			</thead>
			<tbody>
				{% for exc in extractors %}
				<tr>
					<td class="check"><input type="checkbox" name="extractors" value=" {{ exc.extractor_id }} " /></td>
					<td class="id"><b>{{ exc.extractor_id }}</b></td>
					<td class="name">{{ exc.name }}</td>
					<td class="filter">
						<select name="{{ exc.extractor_id }}">
							<option value="">-- no filter --</option>
							{% for u in utilities %}
							<option value="{{ u.id }}">{{ u.name }}</option>
							{% endfor %}
						</select>
					</td>
					<td class="run">
						<button class="runbtn" name="{{ exc.extractor_id }}" type="button">Run</button>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<br>
	<button type="button" onclick="selectAll()">Select All</button>
	<button type="button" onclick="runSelected()">Run Selected</button>
	</form>

	<h3>There are {{ nbills }} total bills.</h3>
	<h3>Results:</h3>
	<!-- Subsmaple: (%) <input type="number"> -->
	<div id="resultpane">
		<table id="results">
			<thead>
				<tr>
					<td id="job_id">Job ID</td>
					<td id="extractor_id">Extractor</td>
					<td id="utility_name">Utility</td>
					<td id="status">Status</td>
					<td id="total_count">Total Bills</td>
					<td id="all_count">Bills with <i>all</i> fields read</td>
					<td id="any_count">Bills with <i>any</i> fields read</td>
					
					{% for f in fields %}
					<td class="field" id="{{ f }}">{{ f }}</td>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	<div>
	<br>
	<button type="button" onclick="updateStatus()">Refresh</button>


</body>

</html>