#test-container {
	width: 96%; 
	margin-right: 2%; 
	margin-left: 2%;
	overflow: scroll;
}

#test-header h3 { font-weight: normal; }

#test-header div.show-extractors {
	margin-bottom: 1em;
    border: 2px solid #006;
    padding: 10px;
    width: auto;
    display: table;
}

table.results {
	width: 100%;
	font-size: 0.9em;
}

table.results td {
	border-right: solid 1px #000066; 
	border-left: solid 1px #000066;
	text-align: center;
}

table.results tr.failed { background-color:#FFCCCC; }

table.results tr.failed:hover { background-color:#FFAAAA; }

table.results tr.failed.selected { background-color:#FF8888; }

/* Used for pre-tag like output, but still allowing html inside. */
span.pre { font-family:monospace; white-space: pre-line }