#test-container {
	width: 96%; 
	margin-right: 2%; 
	margin-left: 2%;
	overflow: scroll;
}

#test-header h3 {
	font-weight: normal;
}

table#testlist td {
	padding-right:10px;
}

table #batch-test-details {
	width: 100%;
}