#test-container {
	width: 96%; 
	margin-right: 2%; 
	margin-left: 2%;
	overflow: scroll;
}

#test-header h3 {
	font-weight: normal;
}

table.results {
	width: 100%;
	font-size: 0.9em;
}

table.results td {
	border-right: solid 1px #000066; 
	border-left: solid 1px #000066;
	/*padding-left: 5px;*/
}