<!-- 
 Contains main view for create-extractor UI. 
 Displays a PDF viewer, and a list of UI elements to create a new layout extractor.
 -->

<div pdf-panel bill-id="{{ bill_id }}">
	<!-- PDF renderer goes here. -->

	<div class="bbox-drawing-layer"><canvas bbox-drawing></canvas></div>
</div>
<div id="separator">&nbsp;</div>
<div id="extractor-controls">
	<!-- Extractor-level parameters/settings -->
	<div id="extractor-settings">
		<h3>Extractor: <input style="width:60%" class="left-margin textbox-flush" type="text" ng-model="extractor().name"></h3>

		<b> Representative Bill ID </b>
		<input class="left-margin" type="text" ng-model="extractor().representative_bill_id">
		<button ng-click="viewBill()">View bill</button>
		<br><br>

		<b> Origin Regex </b>
		<input class="left-margin" type="text" ng-model="extractor().origin_regex">
		<br><br>

		<b> Origin Coordinates </b>
		<pre class="left-margin bbox-coords">x: {{extractor().origin_x}}, y: {{extractor().origin_y}}</pre>
		<button class="left-margin" ng-click="updateExtractorOrigin()">Get coords from regex</button>
	</div>
	<hr class="divider">

	<!-- List of fields for current extractor -->
	<div id="fields-list">
		<h3>Fields</h3>
		<table id="fields">
			<colgroup>
				<col style="width:150px">
				<col style="width:150px">
				<col style="width:150px">
			</colgroup>
			<thead>
				<tr>
					<td>Applier Key</td>
					<td>Field Type </td>
					<td>Data Type </td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="field in extractor().fields" 
					ng-class="{'disabled': !field.enabled, 'selected': selected.applier_key == field.applier_key}">

					<td ng-click="selectField(field)"> {{ field.applier_key | capitalize }} </td>
					<td> 
						<select ng-model="field.field_type" 
								ng-values="ftype.mapper_id for ftype in field_types()" 
								ng-options="ftype.name | capitalize for ftype in field_types()"
								ng-disabled="!field.enabled">
						</select>
					</td>
					<td>
						<select ng-model="field.data_type" 
								ng-values="dt for dt in data_types()" 
								ng-options="dt | capitalize for dt in data_types()	"
								ng-disabled="!field.enabled">
						</select>
					</td>
					<td>
						<img class="addbutton" ng-click="enableField(field)" ng-src="{{ field.enabled ? '/icons/delete.png' : '/icons/add.png' }}">
					</td>
				</tr>
			</tbody>
		</table>
	</div> 
	<hr class="divider">

	<!-- Settings for individual fields -->
	<div class="field-settings" ng-show="selected">
		<h3> {{ selected.applier_key | capitalize }} </h3>

		<b> Page Number </b>
		<select class="left-margin" 
				ng-model="selected.page_number" 
				ng-options="p.pageNumber as p.pageNumber for p in pdf_data.pages">
		</select>
		<span class="left-margin">to</span> 
		<select class="left-margin" 
				ng-model="selected.max_page"
				ng-options="p.pageNumber as p.pageNumber for p in pdf_data.pages">
				<option value="">(none)</option>
		</select>
		<br><br>

		<b> Regular Expression </b>
		<input class="left-margin" type="text" ng-model="selected.regex"></input>
		<br><br>

		<b> Bounding Box </b>
		<pre class="left-margin bbox-coords editable" 
			 ng-click="activateBoundingBox()"
			 ng-model="bboxActive"
			 ng-class="{ 'active': bboxActive }"> {{ selected.bounding_box | bboxToString }} </pre>
		<img class="clear-bbox" src="/icons/delete.png" ng-click="clearBoundingBox()">
		<br><br>

		<b> Corner </b>
		<select class="left-margin"
				ng-model="selected.corner"
				ng-options="c.number as c.name for c in corners">
		</select>
		<br><br>

		<b> Offset Regex </b>
		<input class="left-margin" type="text" ng-model="selected.offset_regex"></input>
		<button ng-click="updateOffset(selected)">Update Offset</button>
		<br>
		<div class="field-offset-details" ng-show="selected.offset_obj != null">
			Found box 
			<pre class="left-margin bbox-coords" style="padding:0;"> {{  selected.offset_obj | bboxToString }} </pre>
			<br>
			on <b>page {{ selected.offset_obj.page_num }}</b> with content "<i>{{ selected.offset_obj.text }}</i>" 
		</div>

		<hr class="divider">
	</div>

	<!-- Shows preview of an individual field -->
	<div class="field-preview" ng-show="selected">
		<h3> Preview of {{ selected.applier_key | capitalize }}: </h3>
		<button ng-click="previewField(selected)">Refresh Preview</button>
		<br><br>

		<b> Field Output: </b>
		<pre> {{ selected.data_type }}: "{{ preview_output }}" </pre>
		<br><br>

		<b> Field JSON (for debug): </b>
		<pre>{{ selected | json }}</pre>
		
		<hr class="divider">
	</div>
	
</div>