/* EXTRACTOR SETTINGS VIEW */

#pdf-container { 
  width:50%;  
  float:left; 
  background-color:#FFFFFF;
  position:relative;
  overflow:scroll;
}

#bbox-drawing-layer {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 5;
}

#separator { 
  width:5px; 
  margin-top:0px !important; 
  background-color:#AAAAFF; 
}

/* Container for the extractor settings */
#extractor-controls { 
  width:40%;
  display:inline; 
  float:left; 
  overflow:scroll;
}

div[pdf-panel] {
  width:50%;
  float:left;
  background-color:#FFFFFF;
  position:relative;
  overflow:scroll;
}

#bbox-drawing-layer {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 5;
}

input.textbox-flush {
  border: solid #AAAAFF 2px;
  /*border: 0;*/
  padding:4px;
  background-color: #EFEFFF;
  font: inherit;
  color:inherit;
}

/* list of fields in extractor settings */
table#fields { border-collapse: collapse; border-spacing: 0px; }
table#fields thead { font-weight: bold; }
table#fields thead tr > td { padding-bottom:10px; }

table#fields tr.disabled { color:#9999CC; }
table#fields tr.selected { background-color:#AAAAFF; }
table#fields tbody tr:hover { background-color:#CDCDFF; }
table#fields tr.selected:hover { background-color:#8888FF; }

.addbutton { padding-left:4px; padding-right:4px; font-weight:bold; color:#000066;}
.addbutton:hover { background-color: #8888FF; }

/* Box that displays bounding box coordinates. Not editable, but reflects what is drawn on the PDF viewer.*/
pre.bbox-coords {
  display:inline; 
  background-color:#DEDEEF; 
  color:#666699; 
  padding:4px;
  border: solid 2px #BBBBCC;
}

pre.bbox-coords.active {
  border-color:#FF0000;
}