[runtime]
integrate_skyline_backend = true
integrate_nexus = true
mock_skyliner = false
sessions_key = ;lkjhsae;jewqr;lknwe

[skyline_backend]
oltp_url = http://duino-drop.appspot.com/
olap_host = 10.0.1.25
olap_database = olap_stage
nexus_web_host = nexus-stage.skylineinnovations.net
nexus_db_host = localhost

[http]
socket_port = 8181
socket_host = 127.0.0.1

[log]
log_format = %(asctime)s %(levelname)s %(message)s
log_file_name = reebill-stage.log

[usersdb]
host = localhost
port = 27017
database = skyline-stage

[statedb]
host = localhost
password = KdvDzFZeawPy
database = skyline_stage
user = reebill-stage

[mailer]
originator = energy_billing@skylineinnovations.com
from = "Skyline Innovations Billing (Stage)" <energy_billing@skylineinnovations.com>
bcc_list = 
smtp_port = 587
smtp_host = smtp.gmail.com
password = hMwQ4Dbr

[rsdb]
database = skyline-stage
host = localhost
rspath = /db-stage/skyline/ratestructure/
port = 27017

[billdb]
billpath = /db-stage/skyline/bills/
database = skyline-stage
utilitybillpath = /db-stage/skyline/utilitybills/
utility_bill_trash_directory = /db-stage/skyline/utilitybills-deleted
host = localhost
port = 27017

[billimages]
bill_image_directory = /tmp/billimages-stage
show_reebill_images = true

[reebillrendering]
temp_directory = /tmp/reebill_rendering_files-stage
template_directory = /var/local/reebill-stage/lib/python2.7/site-packages/billing/reebill_templates
default_template = skyline
# TODO 37383531 Hardcoded partner name, awaiting partner grouping
teva_accounts = 10046 10047 10048

[journaldb]
host = localhost
database = skyline-stage
port = 27017

[authentication]
authenticate = true

[reebillreconciliation]
log_directory = /var/local/reebill-stage
report_directory = /var/local/reebill-stage

[reebillestimatedrevenue]
log_directory = /var/local/reebill-stage
report_directory = /var/local/reebill-stage
