<VirtualHost *:80>
    ServerAdmin webmaster@localhost
    ServerName xbill.nextility.net
    ServerAlias xbill-prod
    ServerAlias xbill-prod.nextility.net

    <Directory /var/local/xbill-prod/xbill/wsgi/>
        Order allow,deny
        Allow from all
    </Directory>
    <Directory /var/local/xbill-prod/xbill/static/>
        Order allow,deny
        Allow from all
    </Directory>

    # Django admin static files (these are now the only static files)
    Alias /static/admin/ "/var/local/xbill-prod/django/contrib/admin/static/admin/"

    # Possible values include: debug, info, notice, warn, error, crit,
    # alert, emerg.
    LogLevel error

    ErrorLog /etc/httpd/logs/xbill-prod_error.log
    CustomLog /etc/httpd/logs/xbill-prod_access.log combined

    WSGIScriptAlias / /var/local/xbill-prod/xbill/wsgi/wsgi.py
    WSGIDaemonProcess xbill-prod user=xbill-prod group=xbill-prod home=/var/local/xbill-prod/xbill/ python-path=/var/local/xbill-prod/lib/python2.7/site-packages:/var/local/xbill-prod/lib/python2.7/dist-packages:/var/local/xbill-prod/xbill
    WSGIProcessGroup xbill-prod
    WSGIApplicationGroup %{GLOBAL}
</VirtualHost>
