<VirtualHost *:80>
    ServerAdmin webmaster@localhost
    ServerName xbill-stage.nextility.net
    ServerAlias xbill-stage

    <Directory /var/local/billing/xbill/wsgi/>
        Order allow,deny
        Allow from all
    </Directory>
    # this "alias was necessary to serve static files for the XBill "admin"
    # site, but we don't know why. we expected the "Directory" command below to
    # do it, or or Django to serve files in its "STATIC_ROOT" path by itself,
    # but this fixed 404 errors.
    alias /static/ /var/local/billing/xbill/static/
    <Directory /var/local/billing/xbill/static/>
        Order allow,deny
        Allow from all
    </Directory>

    # Possible values include: debug, info, notice, warn, error, crit,
    # alert, emerg.
    LogLevel error

    ErrorLog /etc/httpd/logs/xbill-stage_error.log
    CustomLog /etc/httpd/logs/xbill-stage_access.log combined

    WSGIScriptAlias / /var/local/billing/xbill/wsgi/wsgi.py
    WSGIDaemonProcess xbill-stage user=billing group=billing home=/var/local/billing/xbill/ python-path=/var/local/billing/lib/python2.7/site-packages:/var/local/billing/lib/python2.7/dist-packages:/var/local/billing/xbill
    WSGIProcessGroup xbill-stage
    WSGIApplicationGroup %{GLOBAL}
</VirtualHost>
