
<h2>Password reset</h2>
<p>You have requested a password reset on your XBill account.</p>
<p><a href="{{HOST_ADDRESS}}{% url 'intro:reset_password' token=token %}">Please click here to reset your password.</a></p>
<p>If you cannot see this link please copy the following address in the URL-Bar in your browser:</p>
<p>{{HOST_ADDRESS}}{% url 'intro:reset_password' token=token %}<p>

<p>If you have questions or concerns or if you have not requested a password reset please send an email to <a href="mailto:support@skylineinnovations.com">support@skylineinnovations.com</a></p>

<p>Best Regards,<br/>
Skyline Innovations</p>
<br/>--
<div style="text-align:center">
    <b>SKYLINE INNOVATIONS</b>
</div>
<div style="text-align:center">
    <font color="#33CC00" size="1"><b>Guaranteed Savings Through Green Energy</b></font>
</div>
<div style="text-align:center">
    <font size="1">1606 20th St NW, Second Floor, Washington DC 20009</font>
</div>
<div style="text-align:center">
    <font size="1">Phone: (202) 719-5297  Fax: (888) 907-5996</font>
</div>
<div style="text-align:center">
    <font size="1">
        <a href="http://www.skylineinnovations.com" target="_blank">
            <b>http://www.skylineinnovations.com</b>
        </a>
    </font>
</div>
<font color="#ffffff" size="0">{{email_token}}</font>
