html, body{
    background: #eee !important;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 200;
}
.muted{
    color: #525252;
    font-family: Georgia, serif;    
}
#switch-now-outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

#switch-now-middle {
    display: table-cell;
    vertical-align: middle;
}

#switch-now {
    margin-left: auto;
    margin-right: auto;
    width:60%;
    border: 3px solid #e5e5e5;
    padding: 20px;
    background: #fefefe; /* Old browsers */
}

#switch-now h1{
    color: #548135;
}