html,body{
    height: 100%;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

h1,h2,h3,h4,h5,h6,div,span{
    color: #333333;
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:200;
}

p{
    color: #525252;
    font-family: Georgia, serif;
    font-weight:200;
}

hr {
    color: #e5e5e5;
    background-color: #e5e5e5;
    height: 2px;   
}
.wrapper-top{
    min-height:100%;
}
.content{
    overflow:auto;
    padding-bottom:100px; /* this needs to be bigger than footer height*/
}
.footer {
    position: relative;
    margin-top: -100px; /* negative value of footer height */
    min-height: 100px;
    clear:both;
    padding-top:20px;
    border-top: 2px solid rgb(50, 50, 50);

    background: #626262; /* Old browsers */
    background: -moz-linear-gradient(top, #626262 0%, #323232 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#626262), color-stop(100%,#323232)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #626262 0%,#323232 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #626262 0%,#323232 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #626262 0%,#323232 100%); /* IE10+ */
    background: linear-gradient(to bottom, #626262 0%,#323232 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#626262', endColorstr='#323232',GradientType=0 ); /* IE6-9 */
}
.wrapper-top:after{
    padding-top: 20px;
    display: block;
    content: "";
}
.footer-column, .footer-column a{
    color: #c0c0c0;
    text-decoration:none;
    text-align:center;
}
.header .logo{
    height: 50px;
    margin: 10px;
}
.header hr{
    margin: 0px 0px 20px 0px;
}

.mini-caret:before{
    display: inline-block;
    content: "\25B2";
    font-size: 0.5em;
    margin-right: 5px;
    height: 100%;
    vertical-align: middle;
}
.mini-caret-upsidedown:before{
    display: inline-block;
    content: "\25BC";
    font-size: 0.5em;
    margin-right: 5px;
    height: 100%;
    vertical-align: middle;
}
.clickable{
    cursor: pointer;
}
