.content-admin-tab-list-active{
    background-color: #08c;
}

.content-admin-tab-list-active > div{
    background-color: #ffffff;
}

.content-admin-tab-list-item{
    left: 0px;
    right: 0px;
    padding-left: 3px;
    display: block;
    min-height: 2em;
    margin-left: 4px;
}

.content-admin-tab-list-item .close, .content-admin-tab-list-item .delete{
    font-size:1em;
    display: inline-block;
    vertical-align: middle;
}

.content-admin-tab-list-item .muted{
    font-size:.75em
}

/*
Hide the delete button of the last version div
*/
#content-admin-tab-versions > div:last-child .close{
    visibility: hidden;
}

#content-admin-editor-panel{
    min-height: 750px;
}

#content-admin-tab-content, #content-admin-tab-versions{
    min-height: 400px;
    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
}