.silk-add { background-image: url(../icons/add.png) !important; background-repeat: no-repeat; }
.silk-application-go { background-image: url(../icons/application_go.png) !important; background-repeat: no-repeat; }
.silk-calculator { background-image: url(../icons/calculator.png) !important; background-repeat: no-repeat; }
.silk-delete { background-image: url(../icons/delete.png) !important; background-repeat: no-repeat; }
.silk-disk { background-image: url(../icons/disk.png) !important; background-repeat: no-repeat; }
.silk-email { background-image: url(../icons/email.png) !important; background-repeat: no-repeat; }
.silk-email-go { background-image: url(../icons/email_go.png) !important; background-repeat: no-repeat; }
.silk-wrench { background-image: url(../icons/wrench.png) !important; background-repeat: no-repeat; }
