<!-- 
 Contains main view for create-extractor UI. 
 Displays a PDF viewer, and a list of UI elements to create a new layout extractor.
 -->

<div id="pdf-container">
	<!-- PDF renderer goes here. -->
</div>
<div id="separator">&nbsp;</div>
<div id="extractor-controls">
	<!-- List of fields for current extractor -->
	<div id="fields-list">
		<h3>Fields</h3>

		<table id="fields">
			<colgroup>
				<col style="width:150px">
				<col style="width:150px">
				<col style="width:150px">
			</colgroup>
			<thead>
				<tr>
					<td>Applier Key</td>
					<td>Field Type </td>
					<td>Data Type </td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="field in extractor.fields" 
					ng-class="{'disabled': !field.enabled, 'selected': selected.applier_key == field.applier_key}">

					<td ng-click="selectField(field)"> {{ field.applier_key | capitalize }} </td>
					<td> 
						<select ng-model="field.field_type" 
								ng-values="ftype.mapper_id for ftype in field_types" 
								ng-options="ftype.name | capitalize for ftype in field_types"
								ng-disabled="!field.enabled">
						</select>
					</td>
					<td>
						<select ng-model="field.data_type" 
								ng-values="dt for dt in data_types" 
								ng-options="dt | capitalize for dt in data_types"
								ng-disabled="!field.enabled">
						</select>
					</td>
					<td>
						<div class="addbutton" ng-click="enableField(field)"> {{ field.enabled ? "–" : "+" }} </div>
					</td>
				</tr>
			</tbody>
		</table>
	</div> 
	<hr class="divider">

	<!-- Settings for individual fields -->
	<div class="field-settings" ng-show="selected">
		<h3> {{ selected.applier_key | capitalize }} </h3>

		<b> Page Number </b>
		<select style="margin-left:10px;" 
				ng-model="selected.page_number" 
				ng-options="pn for pn in getPDFPageNums(false)" 
				ng-values="pn for pn in getPDFPageNums(false)">
		</select>
		<span style="margin-left:10px;">to</span> 
		<select style="margin-left:10px;" 
				ng-model="selected.max_page" 
				ng-options="pn | denullify for pn in getPDFPageNums(true)" 
				ng-values="pn for pn in getPDFPageNums(true)">
		</select>
		<br><br>

		<b> Offset Regex </b>
		<input style="margin-left:10px;" type="text" ng-model="selected.offset_regex"></input>
		<br><br>

		<b> Bounding Box </b>
		<pre class="bbox-coords" style="margin-left:10px">x0: 100 y0: 25 x1: 145 y1: 323</pre>
		<span style="margin-left:10px; font-weight:bold">X</span>
		<br><br>

		<b> Corner <b>
		<select style="margin-left:10px;"
				ng-model="selected.corner"
				ng-options="c.name for c in corners"
				ng-values="c.value for c in corners">
		</select>
		<br><br>

		<b> Regular Expression </b>
		<input style="margin-left:10px;" type="text" ng-model="selected.regex"></input>
		<hr class="divider">
	</div>
</div>